.block.quote .quoteText {
    background-color: #3b63fb;

    p {
        text-align: center;
        color: red;
    }
}

.block.quote .quoteAuthor {
    background-color: #3b63fb;

    p {
        text-align: center;
        color: black;
    }
}
