.block.quote .text {
    background-color: #3b63fb;

    p {
        text-align: center;
        color: red;
    }
}

.block.quote .author {
    background-color: #3b63fb;

    p {
        text-align: center;
        color: black;
    }
}
